.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.main {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: #d9d9d9;
  border-radius: 10px;
}

.left {
  width: auto;
  padding: 20px;
  background-color: #172A3B;
  color: white;
}

.list {
  margin-bottom: 20px;
}

.list h1 {
  font-size: 24px;
}

.list2 {
  display: flex;
  align-items: center;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.user {
  align-items: center;
  line-height: normal;
  display: flex;
}

.user-details {
  padding: 15px;
}

.right {
  width: 80%;
  padding: 20px;
}

.chat {
  width: 100%;
  height: calc(100% - 50px);
  overflow-y: auto;
}

.chat-input {
  display: flex;
  align-items: center;
}

.chat-input input {
  flex: 1;
  height: 40px;
  border-radius: 20px;
  padding: 0 20px;
  border: 2px solid #172A3B;
  margin-right: 10px;
}

.chat-input button {
  background-color: #22395c;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
}


.message {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 70%;
}

.sent {
  background-color: #22395c;
  color: white;
  align-self: flex-end;
}

.received {
  background-color: #f0f0f0;
  color: #333;
  align-self: flex-start;
}



@media (max-width: 768px) {
  .main {
    height: 100vh;
      flex-direction: column;
      overflow: hidden;
      border-radius: 0px;
  }
  .left {
    width: auto;
    height: auto;
  }
  .right {
      width: auto;
  }
  .chat{
    margin-top: 0px;
    position: absolute;
    border-radius: 10px;
    width: 90%;
    height: calc(100% - 350px);
    overflow-x: scroll;
  }
 
  .chat-input {
      flex-direction: column;
  }
  .chat-input input {
    position: absolute;
    width: 80%;
    justify-content: center;
    margin: auto;
    bottom:60px;
    margin-bottom: 0px;
  }
  .chat-input button{
    position: absolute;
    bottom: 20px;
  }
}


@media (max-width: 768px) {
  .message {
    max-width: 90%;
    height: 30px;
  }

  .sent,
  .received {
    width: auto;
  }

  .sent {
    margin-left: auto;
    background-color: #22395c;
    color: white;
    align-self: flex-end;
  }

  .received {
    margin-right: auto;
    background-color: #f0f0f0;
    color: #333;
    align-self: flex-start;
  }
}


